@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
/* ----------------------Extras---------------------- */
/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: none;
}
body::-webkit-scrollbar-corner {
  background-color: none;
}
body::-webkit-scrollbar-track {
  background-color: none;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7a7aa;
}

/* ----------------------Important---------------------- */
div.root {
  height: 100vh;
}

/* main style */
div.main-page {
  padding: 50px 20px;
  margin: 0;
  width: 100%;
}

/* media querys */
@media only screen and (min-width: 768px) {
  div.main-page {
    padding: 70px 50px;
  }
}

@media only screen and (min-width: 1024px) {
  div.main-page {
    padding: 70px;
  }
}

@media only screen and (min-width: 1440px) {
  div.main-page {
    padding: 70px 100px;
  }
}
